.header {
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  .navbar-nav .nav-link {
    margin-right: 15px;
  }
  
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1); /* Light border for better visibility */
  }
  